* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    max-width: 100vw;
    background: #324448;
    font-family: 'Museo Sans';
}

#header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 80px;
    background: #28363A;
    display: flex;
    justify-content: center;
    padding-top: 12px;
}

#logo {
    width: 160px;
}

#content {
    position: relative;
    padding: 120px 0 95px;
    height: 100vh;
}

#images {
    position: relative;
    margin: 0 auto;
    height: 100%;
    overflow: hidden;
}

#content .image-div {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 100%;
}

#content #image-1 {
    left: 0;
}

#controls {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    top: 0;
}

#controls .button {
    display: block;
    position: relative;
    width: 52px;
    height: 0;
    padding-top: 52px;
    overflow: hidden;
    background-image: url(../img/arrow-white.png);
    background-size: cover;
    cursor: pointer;
}

#button-back {
    transform: rotate(180deg);
}

#controls-align {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#control-left div{
    float: right;
    margin-right: 48px;
}

#control-right div {
    float: left;
    margin-left: 48px;
}

#status {
    position: relative;
    color: white;
    width: 100%;
    text-align: center;
    padding-top: 30px;
}

#loading-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
}

.loading-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.loading-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: loading-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}

#texture {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: url(../img/tex-grunge.png);
    background-repeat: repeat;
    opacity: 0.2;
}

#controls { z-index: 8000 }
#logo { z-index: 8000 }
.image-div { z-index: 7000 }
#loading-container { z-index: 6000 }
#texture { z-index: 5000 }

.loading-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.loading-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.loading-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes loading-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}